---
interface Props {
  title: string;
  description: string;
  href: string;
  stack: { name: string; icon: string }[];
}

const { href, title, description, stack } = Astro.props;
---

<li
  class="border border-border rounded-lg group bg-background hover:bg-primary/5 transition"
>
  <a href={href} class="flex flex-col gap-2 p-2">
    <header class="flex gap-1 items-center">
      <h2 class="font-semibold">
        {title}
      </h2>
      <img
        src="/svg/arrow-right.svg"
        class="size-4 group-hover:translate-x-1 transition"
      />
    </header>
    <p class="text-sm text-secondary">
      {description}
    </p>
    <ul class="flex flex-wrap gap-1">
      {
        stack.map((item) => (
          <li class="text-xs bg-muted px-2 py-1 rounded-[4px] flex items-center gap-1 border border-secondary/15">
            <img src={item.icon} class="size-4" alt="" />
            {item.name}
          </li>
        ))
      }
    </ul>
  </a>
</li>
